<div>
<head>
    <style>
        background-color: #E6E6FA;
    </style>
</head>
<body>
<h1> ABOUT: </h1>

<p>
    This site tracks various bits of data about Valve's game Dota 2.
    <br>
    It tracks players based on their Steam_IDs, matches based on their Match IDs,
    and player statistics with the heroes they have played.
    <br>
    <br>
    For a better version of this, go to dotabuff.com
    <br>
    Site Creator's Contact Info:
    <br>Email: dumbtrashmail@yahoo.com
    <br>Phone: 1-707-123-4567
</p>

</body>


</div>