<% include formatting/header.ejs%>
<div>
    <% if(rs.length > 0) { %>
    <table border="1">
        <tr><th>Hero Name</th></tr>
        <% for (var i=0; rs.length > i; i++) { %>
        <tr>
            <td><a href="/heroes/?hID=<%= rs[i].hID %>"> <%= rs[i].hName %></td></a>
        </tr>
        <% } %>
    </table>
    <% } else { %>
    No heroes are entered into the hero database table.
    <% } %>
</div>

<div style="margin-top:10px;">
    <a href="/heroes/create">Create New Hero</a>
</div>
<% include formatting/footer.ejs%>
