<% include formatting/header.ejs%>
  <body  style = "text-align:center">

    <h1><%= title %></h1>
    <p>Check old matches and see your performance
      <br>
      <br/>
      <a href="/matches/all">All Matches</a>
      <br/>
      <a href="/players/all">All Players</a>
      <br/>
      <a href="/heroes/all">All Heroes</a>
      <br />
      <a href="/playedIns/all">Individual Match Records</a>
      <br/>
      <a href="/playerHeroStats/all">Player Hero Statistics</a>
      <br />
      <a href="/abilities/all">All Abilities</a>
      <br/>
    </p>
  </body>
</html>
<% include formatting/footer.ejs%>